[Unit]
Description=Publish at most one A Language All Their Own X update hourly

[Timer]
OnActiveSec=1h
OnUnitInactiveSec=1h
AccuracySec=1min

[Install]
WantedBy=timers.target
